.administration-tab-list {
    display: flex;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px 10px 0px 10px;
    background: #f8f9fa;
    border: 1px solid #C2C7D0;
    height: 60px;
    color: #979faf;
    font-family: sans-serif;
}

.administration-tab-item {
    font-size: 16px;
    padding: 10px 20px 20px;
    margin-right: 40px;
}

.administration-active {
    transform: translateY(2px);
    color: #39424e;
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #C2C7D0;
    border-bottom-color: #fff;
}

.administration-clearfix {
    font-family: sans-serif;
    font-size: 17px;
    align-items: center;
    height: 40px;
}

.administration-tbl-header {
    font-family: sans-serif;
    display: flex;
    padding: 12px;
    background-color: #ffffff;
    font-size: 14px;
    border: 1px solid #c2c7d0;
    font-weight: 550;
}

.administration-tbl-row {
    font-family: sans-serif;
    align-items: center;
    position: relative;
    display: flex;
    padding: 20px 10px;
    font-size: 14px;
    border: 1px solid #c2c7d0;
    border-top: 0px;
    height: 29px;
}