*:not(.ace_line) {
    margin: 0;
    box-sizing: border-box;
}

select, textarea, input {
    border: 1px solid #C2C7D0;
    border-radius: 5px;
    color: #39424e;
    display: inline-block;
    font-size: 16px;
    padding: 7px 10px;
    font-weight: 500;
    height: 40px;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    min-width: 920px;
    margin: 0 auto;
}

.modal {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    width: 478px;
    height: fit-content;
    margin: 40px auto;
    padding: 48px;
    text-align: left;
    top: 0;
}

.modal-input {
    font-size: 14px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 14px;
    margin: 6px 0;
}

.modal-label {
    font-size: 16px;
    font-weight: 600;
}

.modal-btn {
    height: 50px;
    width: 100%;
}

.msT {
    margin-top: 10px;
}

.mlT {
    margin-top: 20px;
}

.msR {
    margin-right: 10px;
}

.psT {
    padding-top: 10px;
}

.plT {
    padding-top: 20px;
}

.plB {
    padding-bottom: 30px;
}

.psB {
    padding-bottom: 10px;
}

.mT5 {
    margin-top: 5px;
}

.mlB {
    margin-bottom: 20px;
}

.msB {
    margin-bottom: 10px;
}

.btn-ui {
    background-color: #04aa6d;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    align-items: center;
}

.center {
    text-align: center;
}

.btn-normal {
    padding: 10px 15px;
}

.btn-white {
    color: #1ba94c;
    background-color: #ffffff;
    border: 1px solid #1ba94c;
}

.btn-green {
    color: #ffffff;
    background-color: #1ba94c;
    border: 1px solid #1ba94c;
}

.flex1 {
    display: flex; 
    justify-content: space-between; 
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.content {
    background-color: #f3f7f7;
    min-height: calc(100vh - 60px);;
}

.ui-card {
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 10%);
    background-color: #ffffff;
    padding: 20px 30px;
    font-family: sans-serif;
}

.url {
    cursor: pointer;
}

.txt-link {
    color: #097bbf;
}

.span {
    flex: 1;
}

p {
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}

.input-row {
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;   
}

.input-row textarea {
    vertical-align: middle;
    resize: none;
    font-size: 16px;
}

.input-label {
    display: inline-block;
    font-size: 16px;
    color: #39424e;
    width: 170px;
}

.normal-input {
    width: 228px;
    height: 40px;
    font-size: 16px;
}

.page-label {
    font-weight: 500;
    margin: 5px 0;
    font-size: 40px;
    font-family: sans-serif;
}

.editor-wrap {
    width: 800px;
    height: 100px;
}

.table-wrap {
    font-family: sans-serif;
}

.height-100 {
    height: 100%;
}