.header {
    overflow: hidden;
    background-color: #1a3151;
    height: 55px;
    font-family: sans-serif;
}

.header a {
    float: left;
    color: #b7c9cc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.header-button {
    padding-top: 5px;
}

.header a:hover {
    color: #fff;
}

.header a.active {
    color: #fff;
}

.header .logo {
    margin-bottom: 8px;
    height: 40px;
    margin-right: 20px;
    float: left;
    width: 120px;
}
