.pop-up-container {
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    opacity: 0.6;
}

.pop-up-dialog {
    font-size: 16px;
    width: 450px;
    background: #fbfbfb;
    top: 10%;
    left: 19%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 320px;
    box-shadow: 2px 2px 21px rgb(50 50 50 / 75%);
    padding: 20px;
    overflow-y: scroll;
    z-index: 1;
    position: absolute;
}

.pop-up {
    overflow: hidden;
    font-family: sans-serif;
    font-size: 16px;
    width: 450px;
    background: #fbfbfb;
    top: 10%;
    left: 19%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 320px;
    box-shadow: 2px 2px 21px rgb(50 50 50 / 75%);
    padding: 20px;
    z-index: 1;
    position: absolute;
}

.pop-up .input-label {
    display: inline-block;
    font-size: 16px;
    color: #39424e;
    width: 110px;
}

.pop-up input {
    width: 275px;
}

.pop-up button {
    width: 110px;
}

.pop-up-result-row {
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    font-size: 17px;
    width: 275px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#pop-up-result {
    font-family: sans-serif;
    position: absolute;
    background-color: #ffffff;
    top: 247px;
    left: 427px;
    z-index: 1;
}