.problem-editor {
    height: 600px;
}

.problem-output {
    padding: 4px;
    border: 2px solid gray;
    min-height: 100px;
    width: 100%;
    resize: none;
}

.problem-title {
    font-size: 18px;
    color: #0e141e;
    font-weight: 500;
    line-height: 1.4;
}

.problem-label {
    font-size: 20px;
    color: #0e141e;
    font-weight: 500;
    line-height: 1.4;
}

.problem-input-difficulty {
    width: 228px;
    height: 40px;
    font-size: 16px;
}

.problem-input-sample-io {
    width: 300px;
    height: 100px;
}

.problem-input-statement {
    width: 800px;
    height: 200px;
}