.problem-editor {
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    height: 600px;
}

.problem-output {
    padding: 4px;
    border: 2px solid gray;
    min-height: 100px;
    width: 100%;
    resize: none;
}

.problem-title {
    font-size: 18px;
    color: #0e141e;
    font-weight: 500;
    line-height: 1.4;
    font-family: sans-serif;
}

.problem-input-difficulty {
    width: 228px;
    height: 40px;
    font-size: 16px;
}

.problem-input-sample-io {
    width: 300px;
    height: 100px;
}

.problem-input-statement {
    width: 800px;
    height: 200px;
}

.problem-tab-list {
    padding-top: 30px;
    display: flex;
    font-family: sans-serif;
}

.problem-tab-item {
    color: #738f93;
    padding: 15px 30px;
    font-size: 16px;
}

.problem-active {
    z-index: 1;
    transform: translateY(2px);
    background-color: #ffffff;
}

.problem-statement {
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    width: 100%;
    outline-offset: -1px;
    background-color: #ffffff;
    color: #0e141e;
}

.problem-editor-toolbar {
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    border: 0;
    padding: 10px;
    border-bottom: 1px solid #e7eeef;
    background-color: #f3f7f7;
    display: flex;
    font-family: sans-serif;
}

.problem-editor-toolbar-right {
    display: flex;
    align-items: center;
}

.problem-editor-toolbar-select-theme {
    padding: 5px 10px;
    color: #097bbf;
    font-size: 16px;
}

.problem-editor-toolbar-select-language-label {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.problem-editor-toolbar-select-languages {
    width: 200px;
    height: 40px;
}