.submission-list-header {
    display: flex;
    padding: 12px;
    padding-right: 210px;
    background: white;
    font-size: 14px;
    border: 1px solid #c2c7d0;
}

.submission-list-row {
    position: relative;
    display: flex;
    padding: 20px 10px;
    font-size: 14px;
    border: 1px solid #c2c7d0;
    border-top: 0px;
    font-weight: 500;
    height: 29px;
    align-items: center;
}

.submission-list-span {
    width: 250px;
    text-align: center;
}

.submission-label {
    font-weight: 500;
    margin: 5px 0;
    font-size: 40px;
}